/* * {
    margin: 0;
    padding: 0;
} */
/* Images */

.icon {
    width: 25px;
    height: 25px;
}

/* Navigation */
#nav-container {
    width: 100%;
    height: 75px;
    border-bottom: .5px solid grey;
    display: flex;
}

#nav1{
justify-content: flex-start;
flex-wrap: wrap;
flex-direction: row;
gap: 10px;
}

#nav2{
justify-content: flex-end;
flex-wrap: wrap;
flex-direction: row;
gap: 10px;
}

/* Advertisements */

.advertisement-picture-left {
    width:auto;
    height: 100%;
}

.advertisement-picture-right {
    width: 100%;
    height: auto;
}

.advert-box{
    width: 50%;
    height: 374.2px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-half {
    width: 50%;
    height: 100%;
    float: left;
}

.second-half {
    width: 50%;
    height: 100%;
    float: right;
}

/* For advertisement 1*/
#box-1{
    background-color: #375d46;
}

.text-1{
    padding: 20px;
}

/* For advertisement 2*/

/* For advertisement 3*/


/* Terms and Conditions */


/* Footer */
